{% extends 'shop/base.html' %}
{% block title %}
{{product.name}}
{% endblock %}

{% block content %}
    {% include 'shop/leftbar.html' %}

    <main class="offcanvas-enabled" style="padding-top: 5rem;">
      <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <!-- Content-->
          <!-- Product Gallery + description-->
          <section class="row g-0 mx-n2 pb-5 mb-xl-3">
            <div class="col-xl-7 px-2 mb-3">
              <div class="h-100 bg-light rounded-3 p-4">
                <div class="product-gallery">
                  <div class="product-gallery-preview order-sm-2">
                    <div class="product-gallery-preview-item active" id="first">
                        <img src="{{ product.photo.url }}" alt="Product image">
                    </div>
                    <div class="product-gallery-preview-item" id="second">
                        <img src="{{ product.photo.url }}" alt="Product image">
                    </div>
                    <div class="product-gallery-preview-item" id="third">
                       <img src="{{ product.photo.url }}" alt="Product image">
                    </div>
                  </div>
                  <div class="product-gallery-thumblist order-sm-1">
                      <a class="product-gallery-thumblist-item active" href="#first">
                        <img src="{{ product.photo.url }}" alt="Product image">
                      </a>
                      <a class="product-gallery-thumblist-item" href="#second">
                        <img src="{{ product.photo.url }}" alt="Product image">
                      </a>
                      <a class="product-gallery-thumblist-item" href="#third">
                         <img src="{{ product.photo.url }}" alt="Product image">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 px-2 mb-3">
              <div class="h-100 bg-light rounded-3 py-5 px-4 px-sm-5">
                  <a class="product-meta d-block fs-sm pb-2" href="{% url 'App_Shop:category' product.category.id %}">{{ product.category }}</a>
                <h1 class="h2">{{ product.name }}</h1>
                <div class="h2 fw-normal text-accent">{{product.price}}৳ </div>
                <div class="d-flex flex-wrap align-items-center pt-4 pb-2 mb-3">
                  <a href="{% url 'App_Cart:add' product.id %}"
                      {% if product.stock > 0 %}
                         class="btn btn-primary btn-shadow me-3 mb-3"
                      {% else %}
                        class="btn btn-primary btn-shadow me-3 mb-3 disabled"
                     {% endif %}

                     type="submit">
                      <i class="fa fa-shopping-cart fs-lg me-2"></i>
                      Add to Cart
                  </a>
                </div>
                <h6>Product description</h6>
                {{ product.description|safe }}
              </div>
            </div>
          </section>

        </div>
      </section>
      <!-- Footer-->

    </main>
{% endblock %}